.slide.quizContainer {
    background-color: var(--bg-dark);
}

.quizContainer .slideContent {
    position: relative;
    background-color: #FFF;
    max-width: 768px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 30px;
}

.quizContainer .slideContent h2 {
    text-align: center;
}

.quizContainer .slideContent p {
    text-align: center;
}

.quizContainer .quizNavButton {
    position: absolute;
    font-size: 18px;
    line-height: 20px;
}

.quizContainer .quizNavButton:first-of-type {
    left:-25px;
    top:50%;
    transform: translate(0, -50%);
}

.quizContainer .quizNavButton:last-of-type {
    right:-25px;
    top:50%;
    transform: translate(0, -50%);
}

.quizQuestions .question {
    text-align: center;
}

.quizButtons {
    display: block;
    width: 100%;
    text-align: center;
}

.quizButtons button {
    margin-right: 7px;
}

@media(max-width: 767.9px) {
    .quizContainer .slideContent {
        width: calc(100% - 60px);
    }
}

@media(min-width: 768px) and (max-width: 1024.9px) {
    .quizContainer .slideContent {
        width: calc(100% - 100);
    }
}

@media(min-width: 1025px) {
    .quizContainer .slideContent {
        width: calc(100% - 140px);
    }
}