.quizContainer .slideContent h2 {
    text-align: center;
}

.quizContainer .slideContent p {
    text-align: center;
}

.quizQuestions .question {
    text-align: center;
}

.quizButtons {
    display: block;
    width: 100%;
    text-align: center;
}

.quizButtons button {
    margin-right: 7px;
}