.app .os101Sidebar {
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: var(--bg-sidebar);
    border-right: 1px solid #AAA;
    z-index: 4;
}

.app .os101Sidebar .os101Sidebar_content {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: calc(100% - 65px);
  box-sizing: border-box;
  overflow-y: auto;
}

.app .os101Sidebar .os101Logo {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  height: 65px;
  background-color: var(--bg-topbar);
  box-sizing: border-box;
}

.app .os101Sidebar .os101Logo .os101Logo_courseInfo {
  display: flex;
  flex-flow: column wrap;
  width: calc(100% - 60px);
  height: 100%;
  justify-content: center;
  color: #FFF;
  box-sizing: border-box;
  padding-left: 15px;
}

.app .os101Sidebar .os101Logo .os101Logo_courseInfo span {
  display: block;
  width: 100%;
}

.app .os101Sidebar .os101Logo .os101Logo_courseInfo span:first-of-type {
  
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
}

.app .os101Sidebar .os101Logo .os101Logo_courseInfo span:last-of-type {
  font-weight: 300;
  font-size: 13px;
  line-height: 17px;
}

.app .os101Sidebar .os101Logo img {
    display: inline-block;
    width: auto;
    height: 100%;
}

@media(max-width: 767.9px) {
  .app .os101Sidebar {
    width: calc(100% - 65px);
  }

  .app .os101Sidebar.hide {
    left: calc(0px - (100% - 65px));
  }
}

@media(min-width: 768px) and (max-width: 991.9px) {
  .app .os101Sidebar {
    width: var(--width-sidebar);
  }

  .app .os101Sidebar.hide {
    left: calc(0px - var(--width-sidebar));
  }
}

@media(min-width: 992px) {
  .app .os101Sidebar {
    width: var(--width-sidebar);
  }

  .app .os101Sidebar.hide {
    left: calc(0px - var(--width-sidebar));
  }
}