.os101_simpleArrowButton {
    position: relative;
    font-size: 20px !important;
    text-align: center;
    padding: 0 !important;
}

.os101_simpleArrowButton svg {
    display: block;
    position: absolute;
    width: auto;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media(max-width: 767.9px) {
    .os101_simpleArrowButton {
        width: 35px !important;
        height: 35px !important;
        line-height: 35px !important;
    }
}

@media(min-width: 768px) {
    .os101_simpleArrowButton {
        width: 45px !important;
        height: 45px !important;
        line-height: 45px !important;
    }
}