@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h1, h2, h3, h4, h5, h6, p, span, a, ul, li, ol, div, label, form, input {
    font-family: "Roboto", sans-serif;
}

.os101App {
    display: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.os101App .os101Sidebar {
    display: block;
    position: absolute;
    height: 100%;
    background-color: #0D425F;
    left: 0;
    width: 250px;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.os101App .os101Content {
    display: block;
    position: absolute;
    height: 100%;
    background-color: #FFF;
    left: 250px;
    width: calc(100% - 250px);
    overflow-y: auto;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.os101App .os101Content h1 {
    margin-top: 0;
}

.os101Content button.os101Button {
    display: inline-block;
    background-color: #D83E00;
    border: none;
    color: #FFF;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    cursor: pointer;
}

.os101Content button.os101Button:hover, .os101Content button.os101Button:active, .os101Content button.os101Button:focus {
    opacity: 0.7;
}